.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding-left: 10px;
    padding-top: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialogsItems .dialog {
    padding-bottom: 5px;
}


.messages .message {
    padding: 5px;
}

.icon img {    
    display: inline-block;
    width: 50px;
    margin-right: 10px;
}

.icon .link {
    display: inline-block;
}