.nav {
    grid-area: n;
    background-color: #7dabc5;
}

.navDivs {
    text-align: center;
    margin-top: 20px;
}

.nav .navDivs div {
    margin-bottom: 10px;
    text-decoration: none;
}

.nav .navDivs div a {
    text-decoration: none;
    color: rgb(48, 32, 45);
}

.nav .navDivs div a:hover {
    color: rgb(221, 143, 188);
    background-color: #ffffff;
}